/* Cargar la tipografía personalizada */
@font-face {
    font-family: 'EdinguDemo';
    src: url('EdinguDemo.otf') format('opentype');
}

/* Estilos globales para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'EdinguDemo', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Asegura que todo el texto esté centrado */
    flex-direction: column; /* Organiza los elementos de arriba a abajo */
}

/* Fondo de la página con la imagen PNG */
.background {
    background-image: url('fondo.png'); /* Asegúrate de tener el archivo 'fondo.png' en la misma carpeta */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Organiza los elementos de arriba a abajo */
    text-align: center; /* Asegura que todo el texto esté centrado */
}

/* Título de la página (imagen PNG) */
#titulo {
    max-width: 90%; /* Ajusta el tamaño a un 90% del ancho de la pantalla */
    height: auto;
    margin-bottom: 20px; /* Añade un pequeño margen debajo del título */
}

/* Estilo para el subtítulo (sin negrita) */
#subtitulo {
    font-size: 2rem;
    color: #e3fc0a; /* Color verde brillante */
    margin-top: 20px;
    width: 90%; /* Hace que el subtítulo tenga el mismo ancho que la imagen */
    margin-bottom: 30px; /* Añade espacio debajo del subtítulo */
    font-weight: normal; /* Asegura que el subtítulo no sea negrita */
}

/* Estilo para los textos en la sección principal */
section p {
    font-size: 1.5rem;
    margin: 10px;
    color: white;
}

/* Estilo específico para el texto "Próximamente", "Fecha" y "Lugar" */
#proximamente, #fecha, #lugar {
    font-size: 1.5rem;
    color: #e3fc0a; /* Color verde brillante */
}

/* Estilo específico para hacer "Próximamente" más grande */
#proximamente {
    font-size: 2.5rem; /* Aumenta el tamaño */
}

/* Botón para cambiar el idioma, en la esquina superior derecha */
#btn-cambiar-idioma {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #e3fc0a;
    border: 1px solid #e3fc0a;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

#btn-cambiar-idioma:hover {
    background-color: #e3fc0a;
    color: black;
}
